.delete-modal-container {
  background: #eeeeee;
  border-radius: 20px;
  width: 30%;
  height: fit-content;
  padding: 25px;
  overflow: hidden; /* Keeps the radius intact */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.delete-modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal-container span {
  font-weight: bold;
  text-align: center;
}

.delete-modal-container span:first-of-type {
  margin-top: 20px;
}

html.dark .delete-modal-container {
  background: #1e1e1e;
  box-shadow: none;
  color: #f0f0f0;
}