.main-container {
  margin: 3em;
  display: flex;
  flex-direction: column;
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.pagination button {
  display: flex;
  margin: 0px 10px !important;
}

.right-container {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-right: auto;
}

.searchb {
  display: flex;
}

.searchby {
  display: flex;
  margin-right: auto;
}

.searchby select {
  display: flex;
  padding: 14px 14px !important;
  margin-right: auto;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='6'><path fill='%23000000' d='M0 0l5 6 5-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 10px 6px;
}

.next-size {
  display: flex;
  border-radius: 100px;
  opacity: 80%;
  width: 30px;
  height: 45px;
  justify-content: center;
  align-items: center;
}

.page-num {
  font-size: 17px;
  font-weight: bold;
}

.actions-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.isPaid-label {
  font-size: 14px;
  font-weight: 500;
  width: max-content;
}

.export-dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  left: 60px;
}

.export-dropdown {
  position: relative;
}

.export-main-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown-arrow {
  transition: transform 0.2s ease;
  margin-left: 0.5rem;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.export-dropdown-content {
  position: absolute;
  z-index: 100;
  animation: fadeIn 0.15s ease-out;
  display: flex;
  gap: 10px;
  left: 1.25rem;
  margin-top: -0.75rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
