.container{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

form {
  padding: 10px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  height: auto; 
  display: flex;
}

.field-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.fields input{
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-content: center;
}


.logo {
  height: 6em;
  will-change: filter;
  transition: 0.75s;
  padding: 1em;
  z-index: 9999;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #45ad22;
}
