.theme-toggle-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  box-shadow:  5px 5px 10px #3c6b2c,
             -5px -5px 10px #66b74c;
  color: yellow;
}

.theme-toggle-icon:hover{
  background: transparent;
  box-shadow: inset 5px 5px 10px #3c6b2c,
            inset -5px -5px 10px #66b74c;
}

html.dark .theme-toggle-icon{
  background: transparent;
  box-shadow:  5px 5px 10px #3c6b2c,
             -5px -5px 10px #66b74c;
}

html.dark .theme-toggle-icon:hover{
  background: transparent;
  box-shadow: inset 5px 5px 10px #3c6b2c,
            inset -5px -5px 10px #66b74c;
}