.massconvert-modal-container {
  background: #eeeeee;
  border-radius: 20px;
  width: 35%;
  height: fit-content;
  padding: 25px;
  overflow: hidden; /* Keeps the radius intact */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #101010;
}

.massconvert-modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.massconvert-modal-container span {
  font-weight: bold;
  text-align: center;
  z-index: 60;
}

.massconvert-modal-container span:first-of-type {
  margin-top: 20px;
}

html.dark .massconvert-modal-container {
  background: #1e1e1e;
  box-shadow: none;
  color: #f0f0f0;
}

.date-range-container, .status-range-container  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}

label {
  align-items: center;
  font-weight: bold;
  color: #101010;
}

html.dark label{
  color: #ccc;
}

.select-modal{
  padding: 14px 30px !important;
}
