.table-container{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.mode{
  margin-top: 6.6%; 
}

@media (max-width: 1200px) {
  .mode {
    margin-top: 70px;
  }
}

@media (max-width: 500px) {
  .mode {
    margin-top: auto;
  }
}

@media (max-width: 350px) {
  .mode {
    margin-top: auto;
    margin-left: auto;
    width: flex;
    height: flex;
  }
}